{
  //only works w/ Starextensions
  "paneLayer" : "hud",
  "dismissable" : false,
  //
  
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "topLeft",
      "offset" : [0, 0],
      "positionLocked" : true
    },
    "background" : {
      "type" : "background",
      "fileBody" : "/pat/peteralert/box.png?scale=0.5"
    },
		"box" : {
			"type" : "image",
			"file" : "/pat/peteralert/box.png",
			"scale" : 0.5
		},
    "ok" : {
      "type" : "canvas",
      "rect" : [39, 9, 68, 20],
      "captureMouseEvents" : true
    }
	},
	
	"scripts" : ["/pat/peteralert/peteralert.lua"],
	"scriptDelta" : 0,

  "canvasClickCallbacks" : {"ok" : "click"}
}
