{
  "paneLayer": "hud",
  "dismissable": false,
  // ^ StarExtensions options :3

  "gui": {
    "_data": { "type": "image", "mouseTransparent": true },
    "panefeature": {
      "type": "panefeature",
      "anchor": "topLeft",
      "positionLocked": true,
      "offset": [ 32, -48 ]
    },
    "background": {
      "type": "background",
      "fileBody": "/pat/peteralert/box.png?scale=0.5?multiply=0000"
    },
    "box": {
      "type": "image",
      "file": "/pat/peteralert/box.png",
      "scale": 0.5
    },
    "button": {
      "type": "canvas",
      "rect": [ 39, 9, 68, 20 ],
      "captureMouseEvents": true
    }
  },

  "scripts": [ "/pat/peteralert/peteralert.lua" ],
  "scriptDelta": 0,

  "canvasClickCallbacks": { "button": "click" },

  "buttonImages": {
    "default": "/pat/peteralert/button.png",
    "pressed": "/pat/peteralert/button_pressed.png"
  },

  "sounds": {
    "open": { "file": "/pat/peteralert/open.ogg", "volume": 0.75 },
    "click": { "file": "/pat/peteralert/click.ogg", "volume": 0.75 }
  },

  "timerRange": [ 120, 240 ],
  "alertChance": 0.33,
  "stackOffset": [ 10, -10 ],
  "stackMax": 8
}
