{
  "paneLayer": "hud",
  "dismissable": false,
  // ^ StarExtensions options :3

  "gui": {
    "panefeature": {
      "type": "panefeature",
      "anchor": "topLeft",
      "positionLocked": true,
      "offset": [ 24, -40 ]
    },
    "background": {
      "type": "background",
      "fileBody": "/pat/peteralert/box.png?scale=0.5"
    },
    "box": {
      "type": "image",
      "file": "/pat/peteralert/box.png",
      "scale": 0.5
    },
    "ok": {
      "type": "canvas",
      "rect": [ 39, 9, 68, 20 ],
      "captureMouseEvents": true
    }
  },

  "scripts": [ "/pat/peteralert/peteralert.lua" ],
  "scriptDelta": 0,

  "canvasClickCallbacks": { "ok": "click" },

  "timerRange": [ 180, 360 ],
  "stackOffset": [ 8, -8 ],
  "stackMax": 8
}
